body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px;
    padding: 0px;
    background-color: pink;
    line-height: 1.5;
    text-decoration:wavy;
    color: deeppink;
    border: double deeppink;
    text-align: left;
}

.site-header {
    text-align: center; color: brown;
    
}
.site-nav li 
{
    Display: inline-block;
    margin: 0px 50px;
}

.site-nav a {color:deeppink;
text-decoration-style: wavy;}

.main-content {
    width: 50%;
    margin: 0 auto;
    background-color: pink;
    padding: 10px;
    text-align:center;
    border-radius: 10px;

}

.blog-post {width: fit-content;
    color: whitesmoke; 
    outline-color: 80% deeppink;
    box-shadow: 0 0 20px deeppink;
    padding: 5px;
    border-radius: 15px;

}

.site-footer {
    background-color: rgb(224, 173, 182);
    text-align: left; font-size: smaller;

}
 


.form-group {
    margin-top: 10px;
    width: 50%;

}

.form-groupp {
    margin-top: 10px;
    width: 20%

}

.form-group-label {
    margin-bottom: 5px;
    display: block;
    font-weight: bold;

}

.form-group input, form-group select{
    width: 30%;
    height: 5px;
    padding: 10px;
    border: 1px solid deeppink;
    font-size: larger;

}


.search input[type=text]{
    width: 20%;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    border-color: 1px deeppink;


}


.img{
    border-radius: 50%;
    padding-left: 10px;

}

.table-section{
    margin-bottom: 30px;
    padding: 30px;
    border-radius: 10px;
    font-size: larger;

}

.product-table{
    width: 100%;
    border-collapse: collapse;
    margin-right: 10px;

}

.product-table th, 
.product-table td{
    border: 3px solid deeppink;
    padding: 10px;
    text-align: center;
}

#img1{
width: 90px;
height: 90px;

}